<section class="view">

    <p>
        <div file src="'512Games'" class="img portfolio-img"></div>
        <strong>512 Games LLC.</strong> is a company I founded in May 2020, dedicated to the creation of social, online mobile games.</p>

        <p>The company's feature product is the <strong>Play Pals</strong> character-builder meta game. When a player first creates their 512 Games account, they are asked to select
            between one of six customizable avatars to represent themselves while they play. As they progress through a game, they have the chance to purchase or unlock rarer clothing items for their Play Pal.
        With over a million possible outfit combinations available, every player has the opportunity to establish their own unique look which they can show off to other users.</p>

        <p>The Play Pals meta game code is designed so it can be integrated into just about any type of casual mobile game, with players able to share their account and "Play Pal" between games.</p>

        <p>All of the company's games are intended to be free to play, with monetization coming through in app purchases and/or rewarded advertisements.</p>

    </p>

    <p class="footer">
        <a href="https://512games.com" class="btn btn-success btn-lg" target="_blank">View
            Website</a>
    </p>
</section>

