<section class="view">

    <div file src="'aws'" class="img portfolio-img"></div>

    <p>
        Atypical of the industry, I design my games to be generally server authoritative. This means the server does not simply act as a data relay,
        but is also responsible for executing a large portion of each game's business logic.
        This has a number of advantages over a codebase that exists nearly entirely on the client:
        <ul>
          <li>Lower likelihood of platform specific bugs (as all server code runs on the same Amazon Linux operating systems).</li>
          <li>More stable integration tests with wider coverage.</li>
          <li>Having validation reside on the server makes it much more difficult for players to cheat or fake purchases.</li>
          <li>Server code changes can be deployed to production almost instantaneously, while it can take over a week to fully roll out a new version of a client to each app store.</li>
        </ul>
    </p>

    <p>I desire my server-side infrastructure to have a focus on low-latency and high-throughput request handling, while keeping overall costs to a minimum. In order to achieve this, I manage the entirety of my own custom stack within an <b>AWS Virtual Private Cloud</b>. </p>

    <p>
        All server code is written in <strong>NodeJS</strong> and deployed using <strong>Elastic Beanstalk</strong>. Client API requests are load balanced between 2-6 EC2 service instances (number of instances are auto scaled based on current average latency and CPU utilisation).
        API Requests, along with being SSL encrypted, require expiratory custom authentication header tokens to ensure the security of each user's account and data.
    </p>

    <p>
        The primary database is a MongoDB NoSQL cluster managed by <strong>MongoDB Atlas</strong> (though still hosted within the same AWS VPC as the rest of the stack).
        Two <strong>Elasticache Redis</strong> replica instances help reduce primary database load, by functioning as a temporary shared in-memory cache.
    </p>

    <p>
        A private <strong>S3 bucket</strong> is used to store a game's remote Unity Asset Bundles (compressed batches of binary assets like textures and audio files). These are automatically propagated to <strong>CloudFront</strong>'s global distribution network nodes, to be downloaded by their associated client devices.
    </p>

    <p>
        Every client request, whether handled by CloudFront or the EC2 instances, has its pertinent information logged to <strong>CloudWatch</strong> for analytics and debugging. Logs are retained for up to 14 days.
    </p>

    <p>

    </p>

    <p>

    </p>

</section>

