<section class="view">

    <div file src="'aws'" class="img aws-img"></div>

    <p>
        Atypical of the industry I design my games to be relatively server authoritative. This means that the server does not simply act as a data relay between clients,
        but is also responsible for managing nad executing a large portion of each game's business logic. Having this code reside on the server rather than the user's device has a variety of advantages: Much faster deployments, better cheater prevention, and avoidance of platform specific bugs, among others.
    </p>

    <p>
        In order to effectively pull this off, I run a custom server stack within my AWS Virtual Private Cloud.
    </p>

    <p>

    </p>

    <p class="footer">
        <a href="http://hypergalactic.net" class="btn btn-primary btn-lg" target="_blank">View Website</a>
    </p>
</section>

