<section class="view">

    <div file src="'wordJumble'" class="portfolio-img img"></div>

    <p>
        <strong>Word Jumble</strong> is the first game to integrate the <b>Play Plays</b> meta game and avatars.
    </p>
    <p>
        It is a multiplayer "word-finder" (similar to the popular Hasbro board game: Boggle) where players are given two minutes to find
        as many as words possible, with longer words and more difficult letters granting them extra points.
    </p>

    <p>
        Players can choose from multiple game modes:
    <ul>
        <li><b>Solo Games:</b> where a player tries to beat their personal high score.</li><br/>
        <li><b>Versus Games:</b> where a player competes online against friends or matched opponents over the course of three
            rounds.
        </li><br/>
    <li><b>Daily Tournaments:</b> where up to a dozen players compete on the same specialized board for large prizes.</li>
    </ul>
    The game also features it's own proprietary player rating and tier system, which is used to both match players of
    similar abilities to each other as well as function as a progression system for more competitive players.
    </p>

    <p>
        The client apps are built using the Unity game engine and C# (which gets transpiled into native IOS and Android
        code), and communicate to the 512 Games AWS server stack primarily using RESTFul HTTPs API calls.
    </p>

    <p>
        <strong>Play Pals: Word Jumble</strong> currently holds a <strong>4.8 star</strong> rating in both the Google Play and Apple App Stores, with over five
        thousand combined installs to date.
    </p>


    <p class="footer">
        <a file src="'appStoreButton'" class="store-btn" href="https://apps.apple.com/us/app/play-pals-word-jumble/id1594090339" target="_blank"></a>
        <a file src="'playStoreButton'" class="store-btn" href="https://play.google.com/store/apps/details?id=com.fiveonetwo.boggle" target="_blank"></a>


    </p>
</section>

