<section class="view">

    <div file src="'wordJumble'" class="portfolio-img img"></div>

    <p>
        <strong>Word Jumble</strong> is the first (and currently only) game to integrate the Play Plays meta game and avatars. It is available for most Android and iOS devices, and currently holds a <strong>4.8 star</strong> rating in all major App Stores.
    </p>
    <p>
        It is a multiplayer "word-finder", where players are given up to two minutes to find
        as many words as possible from among 16-25 adjacent letters, with longer words and more difficult letters granting them extra points (similar to the popular Hasbro game "Boggle").
        Players can also select up to three unique "boosters" prior to the start of each round for an additional edge.
    </p>

    <p>
        There are three main game modes:
    <ul>
        <li><b>Solo Games:</b> where a player tries to beat their personal high score.</li>
        <li><b>Versus Games:</b> where a player competes online against a friend or matched opponent over the course of three
            rounds.
        </li>
    <li><b>Daily Tournaments:</b> where up to a dozen players compete on the same specialized board for large prizes.</li>
    </ul>
    The game  features it's own proprietary player rating and tier system, which is used to both match players of
    similar skill levels to each other, as well as function as a progression / leaderboard system for more competitive players.
    </p>

    <p>
        The client app is built with the Unity game engine in C# (which gets transpiled into separate native IOS and Android
        codebases at build time), and communicate to the 512 Games AWS server stack primarily using REST API calls over HTTP(s).
    </p>


    <p class="footer">
        <a file src="'appStoreButton'" class="store-btn" href="https://apps.apple.com/us/app/play-pals-word-jumble/id1594090339" target="_blank"></a>
        <a file src="'playStoreButton'" class="store-btn" href="https://play.google.com/store/apps/details?id=com.fiveonetwo.boggle" target="_blank"></a>


    </p>
</section>

