#avatar {

  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -99px;

  width: 198px;
  height: 378px;
  cursor: pointer;
  z-index: 3;
  overflow: hidden;
  .background('sprites.png', transparent, left top);
  .user-select(none);

  &.left{
    left: 10%;
  }

  &.blink{
    .animation(blink 0.3s steps(3) 2 alternate);
  }

  &.walk{
    cursor: default;
    .animation(~"turn 0.2s steps(2), walk 0.8s steps(8), turnReverse 0.2s steps(2)");
    .animation-iteration-count(~"1, 2, 1");
    .animation-delay(~"0s, 0.2s, 1.8s");

    .transition(1.6s linear left);
    .transition-delay(0.2s);

    &.left{
      .transform(scaleX(-1));
    }
  }

  &.dance{
    .animation(dance 0.8s steps(8) 2);
  }

  &.wave{
    .animation(wave 1s steps(8) alternate 2);
  }

  &.loading{
    .background('ajax-loader.gif') !important;
    .animation(none) !important;
    .transform(none) !important;
    cursor: default;
  }


  .keyframe(blink, {background-position: 0px 0px}, {background-position:-594px 0px});
  .keyframe(turn, {background-position:-198px -378px}, {background-position:-594px -378px});
  .keyframe(turnReverse, {background-position:-396px -378px}, {background-position:0 -378px});

  .keyframe(walk, {background-position: 0px -756px},{background-position:-1584px -756px});
  .keyframe(dance, {background-position:0px -1134px}, {background-position:-1584px -1134px});
  .keyframe(wave, {background-position: 0px -1512px}, {background-position:-1584px -1512px});


  @media (max-width: @screen-phone) {


    .arrow{
      position: relative;
      left: 203px;
      top: 324px;
      .size(0, 0);
      .user-select(none);
      border-top: 18px solid transparent;
      border-bottom: 18px solid transparent;
      opacity: 0.5;
      border-right:20px solid #000;
      display: none;


    }

    &.left{

      left: -99px;
      overflow: visible;

      .arrow{
        display: block;
      }

      &.walk .arrow{
          display: none;
      }

      &.loading .arrow{
        display: none;
      }
    }
  }
}