#contact{


  header{

    max-width: 840px;

    width: 100%;
    color: #333333;

    border-bottom: dashed 1px #efefef;
    padding: 4px 0;

    margin-bottom: 20px;

    font-size: 12px;


    > *{
      display: inline-block;
      vertical-align: middle;
      font-weight: bold;
    }

    .widgets{

      >*{
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        margin-left: 5px;
        border: none;
      }
    }
  }

  form{
    max-width: 840px;

    input, textarea{
      padding: 10px;
      margin-bottom: 20px;
      width: 100%;
      resize: none;
      outline: none;
      border: none;
      .rounded(5px);
      .box-shadow(inset 0 0 2px #000);
      .box-sizing(border-box);

      &.ng-invalid.ng-touched{
        .box-shadow(inset 0 0 1px 1px #c6000e);
      }

      &:focus, &.ng-invalid.ng-touched:focus{
        .box-shadow(inset 0 0 1px 2px #4C9ED8);
      }
    }

    .footer{
      width: 100%;
      height: 46px;

      .loader{
        .size(100%, 100%);
        .background('ajax-loader.gif', transparent, 5px center);
      }

      .result{
        line-height: 46px;
        font-weight: bold;
        font-size: 15px;
      }
    }
  }

}