@img-path:'/assets/img';


.background-image(@filename, @color:transparent, @position: center center, @repeat: no-repeat, @size : auto){
  background-image: url('@{img-path}/@{filename}')
}

.background(@filename, @color:transparent, @position: center center, @repeat: no-repeat, @size : auto){
  background: @color @repeat @position;
  .background-image(@filename);
  background-size: @size;
}

.image-fill(@filename, @size:48px){
  width: @size;
  height: @size;
  .background-image(@filename);
  background-size: @size;
}


.bordered(@top-color: #EEE, @right-color: #EEE, @bottom-color: #EEE, @left-color: #EEE) {
  border-top: solid 1px @top-color;
  border-left: solid 1px @left-color;
  border-right: solid 1px @right-color;
  border-bottom: solid 1px @bottom-color;
}

.drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1) {
  -webkit-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
}

.rounded(@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.circle(@radius: 2px){
  .size(@radius, @radius);
  .rounded(@radius);
}

.border-radius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -webkit-border-top-left-radius: @topleft;
  -moz-border-radius-topright: @topright;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  -moz-border-radius-topleft: @topleft;
  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;
}

.opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
  @opperc: @opacity * 100;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
  filter: ~"alpha(opacity=@{opperc})";
}



.transform(...) {
  -webkit-transform: @arguments;
  -moz-transform: @arguments;
  -o-transform: @arguments;
  -ms-transform: @arguments;
  transform: @arguments;
}

.rotate(@deg:5deg){
  .transform(rotate(@deg));
}

.scale(@ratio:1.5){
  .transform(scale(@ratio));
}

.transition(...) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}

.transition-duration(@duration: 0.2s) {
  -moz-transition-duration: @duration;
  -webkit-transition-duration: @duration;
  -o-transition-duration: @duration;
  transition-duration: @duration;
}

.transition-delay(@delay: 0.2s){
  -moz-transition-delay: @delay;
  -webkit-transition-delay: @delay;
  -o-transition-delay: @delay;
  transition-delay: @delay;
}

.animation(...){
  -webkit-animation: @arguments;
  -moz-animation: @arguments;
  -o-animation: @arguments;
  animation: @arguments;
}

.animation-iteration-count(...){
  -webkit-animation-iteration-count: @arguments;
  -moz-animation-iteration-count: @arguments;
  -o-animation-iteration-count: @arguments;
  animation-iteration-count: @arguments;
}

.animation-duration(...) {
  -moz-animation-duration: @arguments;
  -webkit-animation-duration: @arguments;
  -o-animation-duration: @arguments;
  animation-duration: @arguments;
}

.animation-delay(...){
  -moz-animation-delay: @arguments;
  -webkit-animation-delay: @arguments;
  -o-animation-delay: @arguments;
  animation-delay: @arguments;
}


.inner-shadow(@horizontal:0, @vertical:1px, @blur:2px, @alpha: 0.4) {
  -webkit-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
  box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
}

.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}

.box-sizing(@sizing: border-box) {
  -ms-box-sizing: @sizing;
  -moz-box-sizing: @sizing;
  -webkit-box-sizing: @sizing;
  box-sizing: @sizing;
}

.user-select(@argument: none) {
  -webkit-user-select: @argument;
  -moz-user-select: @argument;
  -ms-user-select: @argument;
  user-select: @argument;
  -webkit-tap-highlight-color: transparent;
}

.translate(@x:0, @y:0) {
  .transform(translate(@x, @y));
}

.grab{
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;

  &:active{
      cursor: grabbing;
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
  }
}

.keyframe(@name,@to) {
  @-webkit-keyframes @name { to{@to();} }
  @-moz-keyframes @name { to{@to();} }
  @-o-keyframes @name { to{@to();} }
  @keyframes @name { to{@to();} }
}

.keyframe(@name,@from,@to){
  @-webkit-keyframes @name { from{ @from();} to{@to();} }
  @-moz-keyframes @name { from{ @from();} to{@to();} }
  @-o-keyframes @name { from{ @from();} to{@to();} }
  @keyframes @name { from{ @from();} to{@to();} }
}


