#nav {

  .nav-item {

    position:absolute;
    left: 50%;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;

    .bubble {
      position: relative;
      margin: 6px auto;
      opacity: 1;
      transition: transform ease-out 0.3s;
      background-color: #fff;
      border: solid 2px #000;

      &.main {
        width: 115px;
        .background('bubble.png',transparent,0 0);
        .box-sizing(border-box);
        .transition-delay(0.6s);
        border: none;

        .label {
          font-size: 24px;
          text-align: center;
          width: 100%;
          font-family: 'Bangers', cursive;
          margin: 0;
          text-decoration: none;
          color: #000;
          line-height: 115px;
        }

      }

      &:nth-child(2) {
        .circle(12px);
        .transition-delay(0.3s);
      }

      &:nth-child(3) {
        .circle(7px);
        .transition-delay(0s);
      }

    }

    &:nth-child(1) {
     .rotate(-60deg);
      margin-left: -190px;
      bottom: 250px;

      .bubble.main {
        left: 6px;

        .label{
         .rotate(60deg);
        }
      }

      .bubble:nth-child(2) {
        right: 6px;
      }

    }

    &:nth-child(2) {
     .rotate(-20deg);
      margin-left: -120px;
      bottom: 365px;

      .bubble.main {
        left: 3px;

        .label{
         .rotate(20deg);
        }
      }

      .bubble:nth-child(2) {
        right: 3px;
      }


    }

    &:nth-child(3) {
     .rotate(20deg);
      margin-left: 5px;
      bottom: 365px;

      .bubble:nth-child(1) {
        right: 3px;

        .label{
         .rotate(-20deg);
        }

      }

      .bubble:nth-child(2) {
        left: 3px;
      }

    }

    &:nth-child(4) {
     .rotate(60deg);
      margin-left: 70px;
      bottom: 250px;


      .bubble:nth-child(1) {
        right: 6px;

        .label{
         .rotate(-60deg);
        }
      }

      .bubble:nth-child(2) {
        left: 6px;
      }
    }

    &:hover, &:active{
      outline: none;
      border: none;

      .bubble{
        background-color: #c5e7fa;

        &.main{
          background-color: transparent;
          background-position: -115px 0;

        }
      }
    }

  }



  &.hidden{


    .nav-item{
      pointer: default;
      pointer-events: none;


      .bubble{
        .scale(0);
        .transition-delay(0s) !important;
        .user-select(none);
      }
    }
  }



}