@import "slick";

#portfolio{


  overflow: hidden;



  .header{
    width: 100%;
    position: relative;
    margin-bottom: 20px;

    .slider{
      display: none;

      &.slick-slider{
        display: block;
        width: 100%;
        height: 100%;
        .grab;
        .box-sizing(border-box);
        .user-select(none);



        .slick-slide{
          margin: 2px;
          .opacity(0.4);

          .scale(0.85);
          .transition(all 0.5s linear);

          &.slick-center{
            .scale(1);
            .opacity(1);
          }

          img{
            width: 100%;
            height: auto;
            .rounded(6px);
            .box-shadow(0 0 1px 1px rgba(0,0,0,0.3));

          }

        }
      }
    }


  }


  .view{
    height: 630px;
    max-height: 85vh;
    overflow-y: auto;
    transition-delay: 0s;


    .footer{
      padding: 10px 0;
      text-align: right;
    }


  }

  @media (max-width: @screen-phone) {

    position: fixed;
    left: 0;
    right: 0;
    top: 10px;
    bottom: 10px;

    .view{
      height: 90vh;
      padding: 0 10px;

      .footer{
        padding: 5px 0;
        margin-bottom: 20px;
      }
    }

  }
  
  
}