#view{

  transition: 0.5s linear opacity;

  .content{

    position: absolute;
    max-width: 1080px;
    left:20%;
    right: 2%;
    bottom: 20px;
    color: #111;

    max-height: 95vh;
    overflow: auto;

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 28px;

    overflow: auto;


    p:first-of-type{
      margin-top: 0;
    }



    .img{
      float: right;
      margin: 0 0 15px 15px;
      .rounded(4px);
      max-width: 55%;
      height: auto;
    }


    .btn{
      text-decoration: none;
      font-weight: bold;

      &:disabled{
        opacity: 0.5;
      }
    }

    @media (max-width: @screen-phone) {

      left: 10px;
      right: 10px;
      bottom: 10px;

      font-size: 17px;
      line-height: 20px;

      .img{
        float: right;
        margin: 0 0 10px 10px;
      }

      .btn{
        font-size: 16px;
        padding: 8px 12px;
      }

      p{
        margin: 10px 0;
      }

    }
  }




  &.ng-enter{
    opacity: 0;
    &.ng-enter-active{
      opacity: 1;
    }
  }

  &.ng-leave{
    opacity: 1;
    &.ng-leave-active{
      opacity: 0;
    }
  }


  @import "portfolio";
  @import "resume";
  @import "contact";

}
