#view{
  .transition(0.5s linear opacity);

  .content{

    position: absolute;
    max-width: 1080px;
    left:20%;
    right: 0;
    bottom: 0;
    color: #111;
    .box-sizing(border-box);

    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 28px;
    padding: 15px 15px 15px 0;


    p{
      &:first-of-type{
        margin-top: 0;
      }

      &:last-of-type{
        margin-bottom: 0;
      }

    }



    .img{
      float: right;
      margin: 0 0 15px 15px;
      .rounded(4px);
      max-width: 55%;


      img{
        width: 100%;
        height: auto;
        .rounded(4px);
      }
    }


    .btn{
      text-decoration: none;
      font-weight: bold;

      &:disabled{
        opacity: 0.5;
      }
    }

    @media (max-width: @screen-phone) {

      left: 0;
      right: 0;
      bottom: 0;
      padding: 10px;

      font-size: 17px;
      line-height: 20px;

      .img{
        float: right;
        margin: 0 0 10px 10px;
      }

      .btn{
        font-size: 16px;
        padding: 8px 12px;
      }

      p{
        margin: 10px 0;
      }

    }
  }




  &.ng-enter{
    opacity: 0;
    &.ng-enter-active{
      opacity: 1;
    }
  }

  &.ng-leave{
      opacity: 1;
      &.ng-leave-active{
        opacity: 0;
      }
  }


  @import "portfolio";
  @import "resume";
  @import "contact";

}
