//Default view container styles
#view{

  position: absolute;
  left: 20%;
  bottom: 0;
  right: 0;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  .transition(0.5s linear opacity);

  .content{

    float: left;
    width: 100%;
    max-width: 1080px;
    position: relative;
    color: #111;
    .box-sizing(border-box);

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 28px;
    padding: 15px 15px 15px 0;

    p{
      &:first-of-type{
        margin-top: 0;
      }

      &:last-of-type{
        margin-bottom: 0;
      }

    }

    .img{
      float: right;
      margin-left: 15px;
      .rounded(4px);
      max-width: 55%;


      img{
        width: 100%;
        height: auto;
        .rounded(4px);
      }
    }


    .btn{
      text-decoration: none;
      font-weight: bold;

      &:disabled{
        opacity: 0.5;
      }
    }

  }

  //User angular animation classes to fade view in and out when it is added/removed from DOM
  &.ng-enter{
    opacity: 0;
    &.ng-enter-active{
      opacity: 1;
    }
  }

  &.ng-leave{
    opacity: 1;
    &.ng-leave-active{
      opacity: 0;
    }
  }

  //On small devices view takes up the entire width of the screen
  @media (max-width: @screen-phone) {

    left: 0;
    right: 0;
    bottom: 0;

    .content{
      padding: 15px;
      font-size: 17px;
      line-height: 20px;

      .btn{
        font-size: 16px;
        padding: 8px 12px;
      }

      p{
        margin: 10px 0;
      }

      .img{
        margin-left: 10px;
      }
    }
  }


  @import "portfolio";
  @import "resume";
  @import "contact";

}
