<about id="about" class="content">

    <h2>About Me</h2>
    <file src="'portrait'" class="img portrait"></file>

    <p> My name is James Lynn. I am a full stack software engineer specializing in game and social application development for web and mobile platforms.
    </p>

    <p>
        I have a B.S in Computer Science and over 15 years of industry experience. I am well versed in a variety of languages, technologies and architectural patterns, and have experience both leading development teams as well as overseeing company-wide technical infrastructure.
    </p>

    <p>
        I am currently open to new consulting, contract or full-time opportunities (either remote or based out of Austin, TX). If you think I may be a fit, please reach out to me at <a href="mailto:jamespdlynn@gmail.com"> jamespdlynn@gmail.com</a>.
    </p>


</about>
