<about id="about" class="content">

    <file src="'portrait'" class="img"></file>

    <p> My name is James Lynn. I am a senior software engineer / technical architect specializing in Micro Services, Reactive Programming and API Driven Development. I enjoy finding simple, elegant solutions to complex problems.
    </p>

    <p>
        I graduated from the University of Georgia with a B.S in Computer Science in 2009. Since then I
        have worked within the web development sphere
        for various businesses in a wide range of industries.
        I am well versed in a variety of popular languages, technologies and architectural patterns.
    </p>

    <p>
        Some other facts about me: I hold dual US/UK citizenship and I count hiking, mountain biking, football/soccer
        and videogames among my favorite activities. I am also partial to 90s alternative rock and craft beer.
    </p>

    <p>
        <strong>TL;DR</strong><br/>
        <i>I am a programmer who likes to make cool stuff.</i>
    </p>

</about>
