<about id="about" class="content">

    <h1>About Me</h1>
    <file src="'portrait'" class="img portrait"></file>

    <p>
        My name is James Lynn. I am a full stack software engineer and entrepreneur, specializing in game / social application development for web and mobile platforms.
    </p>

    <p>
        I have a B.S in Computer Science and over 15 years of industry experience. I am well versed in a variety of languages, technologies and architectural patterns, and have experience both leading development teams as well as overseeing company-wide technical infrastructure.
    </p>

    <p>
        I am a dual U.K/U.S citizen and currently reside in Austin, Texas. In my spare time I enjoy playing video games (to go with making them) as well as both watching and playing soccer.
    </p>

    <p>
        As of June 2022, I am currently open to new consulting, contract or full-time opportunities. If you think I may be a good fit for your organisation, please reach out to me at <a href="mailto:jamespdlynn@gmail.com"> jamespdlynn@gmail.com</a>.
    </p>


</about>
