<contact id="contact" class="content">

    <form name="form" novalidate>
        <input type="text" ng-model="data.name" class="form-control" placeholder="Name*"  ng-disabled="currentState != states.DEFAULT"  title="Name (Required)" required/>

        <input type="text" ng-model="data.company" class="form-control" placeholder="Company" ng-disabled="currentState != states.DEFAULT"  title="Company" />

        <input type="email" ng-model="data.email" class="form-control" placeholder="Email*" ng-disabled="currentState != states.DEFAULT"  title="Email (Required)" required/>

        <input type="tel" ng-model="data.phone" class="form-control" placeholder="Phone" ng-disabled="currentState != states.DEFAULT"  title="Phone"/>

        <textarea ng-model="data.message" class="form-control" rows="4" placeholder="Message*" title="Message (Required)" maxlength="1000" ng-disabled="currentState != states.DEFAULT"  required></textarea>

        <input type="text" ng-model="data.secret" class="form-control" placeholder="What is 8 + 4?*" ng-disabled="currentState != states.DEFAULT"  title="What is 8 + 4? (Required)"  secret required/>

        <div class="footer">

            <button class="btn btn-primary btn-lg"
                    type="submit"
                    ng-click="form.$valid && submit(data)"
                    ng-disabled="form.$invalid"
                    ng-if="currentState == states.DEFAULT">
                Send
            </button>

            <div class="loader" ng-if="currentState == states.LOADING"></div>

            <div class="result" ng-if="currentState == states.SUCCESS">
                <div class="icon success"></div>
                <span> Thank you for your message! I will try to get back to you as soon as possible.</span>
            </div>

            <div class="result" ng-if="currentState == states.ERROR">
                <div class="icon error"></div>
                Something went wrong :( Please try again later
            </div>
        </div>


    </form>
</contact>
