<nav id="nav" ng-class="{hidden:isHidden}">

    <div class="nav-item"
         ng-repeat="item in items"
         ng-click="onClick(item)"
         ng-mouseenter="onHover(item)">

        <div class="bubble" ng-class="{main:$first}" ng-repeat="i in [1,2,3]">
            <div class="label" ng-if="$first">{{item.label}}</div>
        </div>
    </div>

</nav>

<avatar id="avatar" ng-class="{left:isLeft}" class={{animation}} ng-click="onClick()">
    <div id="arrow" ng-show="$left" ng-click="onClick()"></div>
</avatar>


