<portfolio id="portfolio" class="content">

    <div class="header" mouse-wheel="onScroll($delta, $event.timeStamp)">

        <slick class="slider"
               current-index="index"
               speed="500"
               slides-to-show="5"
               center-padding="0"
               responsive = "[{breakpoint: 780, settings:{slidesToShow: 3}},{breakpoint:480, settings:{slidesToShow:1, centerPadding:'90px'}}]"
               infinite="true"
               swipe-to-slide="true"
               center-mode="true"
               focus-on-select="true"
               arrows="false"
               on-after-change="audio.play('click')">

            <file src="item.id+'Nav'" ng-repeat="item in items"></file>

        </slick>

    </div>

    <ui-view></ui-view>

</portfolio>
