<portfolio id="portfolio" class="content">

    <div class="header" mouse-wheel="onScroll($delta, $event.timeStamp)">

        <slick class="slider"
               current-index="index"
               speed="500"
               slides-to-show="1"
               center-padding="360px"
               responsive="[{breakpoint: 960, settings:{slidesToShow: 1, centerPadding:'220px'}},{breakpoint:480, settings:{slidesToShow:1, centerPadding:'132px'}}, {breakpoint:360, settings:{slidesToShow:1, centerPadding:'80px'}}]"
               infinite="true"
               swipe-to-slide="true"
               center-mode="true"
               focus-on-select="true"
               arrows="false"
               on-after-change="onChange()">

            <file src="item.id+'Nav'" ng-repeat="item in items"></file>

        </slick>

    </div>

    <ui-view></ui-view>

</portfolio>
