<portfolio id="portfolio" class="content">

    <div class="header" mouse-wheel="onScroll($delta, $event.timeStamp)">

        <slick class="slider"
               current-index="index"
               speed="500"
               slides-to-show="1"
               center-padding="360px"
               responsive="[
                    {breakpoint: 1210, settings:{centerPadding:'300px'}},
                    {breakpoint: 1030, settings:{centerPadding:'250px'}},

                    {breakpoint: 960, settings:{centerPadding:'210px'}},
                    {breakpoint: 770, settings:{centerPadding:'180px'}},
                    {breakpoint: 550, settings:{centerPadding:'130px'}},
                    {breakpoint: 480, settings:{centerPadding:'115px'}},
                    {breakpoint: 380, settings:{centerPadding:'110px'}}
                ]"
               infinite="true"
               swipe-to-slide="true"
               center-mode="true"
               focus-on-select="true"
               arrows="false"
               on-after-change="onChange()">

            <file src="item.id+'Nav'" ng-repeat="item in items"></file>

        </slick>

    </div>

    <ui-view class="sub-view"></ui-view>

</portfolio>
