<about id="about" class="view">
    <div class="content">
        <img ng-src="{{assets.src('portrait')}}"/>
        <p> My name is James Lynn. I am a technology enthusiast, amateur entrepreneur and professional code monkey.
            I enjoy using my creativity to find elegant solutions to interesting problems.
        </p>
        <p>
            I graduated from the University of Georgia with a B.S in Computer Science in 2009. During that time and since I have spent over eight years working within the web development sphere
            in senior roles for various businesses in a wide range of industries. I am comfortable working both as an individual communicating directly with clients and as part of a structured agile team.
            I pride myself on my flexibility and ability to work within every layer of a full web application stack. I am well versed in a variety of popular languages and technologies,
            but am always eager to learn new skill sets to add to my repertoire.
        </p>
        <p>
            Some other facts about me: I hold dual US/UK citizenship and I count hiking, mountain biking, football/soccer and videogames among my favorite activities. I am also partial to 90s alternative rock and craft beer.
        </p>
        <p>
            <strong>TL;DR</strong><br/>
            <i>I am a programmer who likes to make cool stuff.</i>
        </p>
    </div>

</about>
