<about id="about" class="view">
    <h1>About Me</h1>
    <p> My name is James Lynn. I am also a technology enthusiast, amateur entrepreneur and software developer.
        I enjoy using my creativity and ingenuity to find elegant solutions to interesting problems.
    </p>
    <p>
        I graduated from the University of Georgia with a B.S in Computer Science in 2009 and have spent the past eight years working within the web development sphere.
       During that time I have inhabited senior roles for various businesses in a wide range of industries, either as an individual contractor or part of a small Agile team.
       I pride myself on my flexibility and ability to work within every layer of a full web application stack. I am well versed in a variety of popular languages and technologies,
       but am always eager to learn new skill sets and add to my repertoire.
    </p>
    <p>
        I am a dual U.S/U.K citizen and count mountain biking, videogames and football/soccer among some of my favorite activities.
    </p>
    <p>
        <strong>TL;DR</strong><br/>
        I am a programmer who likes to make cool stuff.
    </p>
</about>
