<portfolio id="portfolio" class="view">
    <div class="header">

        <slick current-index="navIndex"
               infinite="true"
               speed="500"
               slides-to-show="5"
               swipe-to-slide="true"
               center-mode="true"
               center-padding="0px"
               focus-on-select="true"
               arrows="false">

            <img src="/assets/img/portfolio/{{item.key}}.png" ng-repeat="item in navItems"/>
        </slick>
    </div>

    <ui-view class="content"></ui-view>
</portfolio>
