<portfolio id="portfolio" class="view">
    <div class="header">
        <h1>Portfolio</h1>

        <slick current-index="navIndex"
               infinite="true"
               speed="500"
               slides-to-show="3"
               swipe-to-slide="true"
               center-mode="true"
               center-padding="0px"
               focus-on-select="true"
               arrows="false">

            <div class="{{item.key}}" ng-repeat="item in navItems">
            </div>
        </slick>
    </div>

    <ui-view class="content"></ui-view>
</portfolio>
