<portfolio id="portfolio" class="content">
    <div class="header" mouse-wheel="nav.onScroll($delta, $event.timeStamp)">

        <slick current-index="nav.index"
               infinite="true"
               speed="500"
               slides-to-show="{{nav.slides}}"
               swipe-to-slide="true"
               center-mode="true"
               center-padding="0px"
               focus-on-select="true"
               arrows="false"
               on-after-change="assets.play('click')">

            <img ng-src="{{assets.src(item.id+'-nav')}}" ng-repeat="item in nav.items"/>
        </slick>
    </div>

    <ui-view></ui-view>

</portfolio>
