#background {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  #gradient > .vertical(#2d8ade, #65acff); //blue gradient
  overflow: hidden;

  .clouds {

    top: -150px;
    left: 0px;
    position: absolute;
    width: 8640px;
    height: 300px;
    .opacity(0.9);

    .background('cloud.png', transparent, right top, repeat-x);
    .animation(move linear 30s infinite);

    @media (max-width: @screen-lg) {
      animation-duration: 45s;
      top: -160px;
    }

    //For small devices, use a less drastic gradient and shrink and hide some of the clouds
    @media (max-width: @screen-phone) {
      animation-duration: 60s;
      top: -170px;
    }
  }

  .keyframe(move, { left: -4320px });

}

