@import "slick";

#portfolio {

  overflow: hidden;
  padding: 0 0 25px;

  @media (max-width: @screen-phone) {
    .portfolio-img {
      width:100%;
      margin-bottom: 10px;
    }
  }

  .footer {
    height: 200px;

    text-align: right;

    .store-btn{
      margin-left:20px;

      img {
        width: 200px;
        background-size: contain;
      }
    }
  }

  //Slick slider navigation controls
  .header {
    width: 100%;
    position: relative;
    padding: 20px 0;
    .box-sizing(border-box);
    overflow-y: visible;

    .slider {
      display: none;
      overflow-y: visible;

      &.slick-slider {
        display: block;
        width: 100%;
        height: 100%;
        overflow-y: visible;

        .box-sizing(border-box);
        .user-select(none);

        //Override some of the slick slider styles to shrink and fade out non centered items
        .slick-slide {
          overflow-y: visible;

          margin: 2px;
          .opacity(0.5);
          cursor: pointer;

          .scale(0.75);
          .transition(all 0.25s linear);

          &.slick-center {
            .scale(0.9);
            .opacity(1);
          }

          @media (max-width: @screen-phone) {
            .scale(0.9);

            &.slick-center {
              .scale(1);
            }
          }

          img {
            width: 100%;
            height: auto;

            background-position: center center;
          }

        }
      }
    }

    @media (max-width: @screen-phone) {
      padding: 15px 0;
    }

  }


}
