<section class="view">

    <img class="img" src="/assets/img/portfolio/emerson.png"/>

    <div class="content">
        <p>
            <strong>Emerson I/O on Demand</strong> is an online marketing site/app that advertises the cost benefits their electronic marshalling systems.
        </p>
        <p>
            The app is a true thick client in that nearly all the code, with the exception of a small PHP mailing script, exists client side. It was built with the BackboneJS MVC framework, and uses
            the associated router component is used to deep link between "pages". For the "Calculate Savings" page, the algorithms used had to (rather painstackingly) be extracted
            from Excel spreadsheets into javascript (it was deemed Ok to keep this logic client side as the algorithms themselves were not proprietary). The graphs on that page
            were dynamically drawn with the RaphelJS vector library, which offered enough flexibility to match the original designs.
        </p>
        <p>
            Despite its responsive nature, the entire site is backwards compatible all the way to IE8.
        </p>
    </div>
    <footer class="footer">
        <a href="http://ioondemandcalculator.com" class="btn btn-primary btn-lg" target="_blank">View Website</a>
    </footer>
</section>

