@import "bootstrap/bootstrap";
@import "components/mixins";
@import "components/background";
@import "components/main";
@import "components/view";

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;

}

h1, h2, h3, h4, span, a, p {
  text-rendering: geometricPrecision;
  font-family: freight-sans-pro, Graphik Web, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  color: #000;
}

a {
  cursor: pointer;
}

.btn-success{
  background-color:#f38e2c !important;
  border-color: #f36a2b !important;
}

#source {
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 5;
  text-decoration: none;
  font-weight: bold;
  font-family: "Droid Sans Mono", Menlo, Monaco, monospace Arial sans-serif;

  @media (max-width: @screen-phone) {
    display: none;
  }
}

#loader {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 20%;
  z-index: 5;
  .background('ajax-loader.gif');
}

#footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  height: 150px;
  .background('grass.png', transparent, center bottom, repeat-x);

  background-size: contain;

}








