<!DOCTYPE html>
<html>
<head lang="en">

    <title>James Lynn</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="description" content="Entrepreneur, technology enthusiast, and professional code monkey."/>

    <meta property="og:title" content="James Lynn" />
    <meta property="og:description" content="Entrepreneur, technical architect, and professional code monkey." />
    <meta property="og:url" content="https://jameslynn.net" />

    <meta name="theme-color" content="#4c96de">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Bangers">
    <link rel="stylesheet" href="/css/style.css"/>
</head>

<body>

<div id="background">

    <div class="clouds" ng-if="initialized"></div>

</div>

<main id="main"
      ng-controller="MainController"
      ng-include="'templates/main.html'"
      ng-if="initialized">
</main>

<ui-view id="view"
         ng-if="initialized">
</ui-view>

<footer id="footer"></footer>

<a id="source"
   href="https://github.com/jamespdlynn/portfolio"
   target="_blank"
   class="btn btn-sm btn-primary"
   ng-if="initialized">
    Source Code
</a>

<div id="loader" ng-if="!initialized"></div>

<script data-main="js/main.js" src="js/lib/require.js"></script>

</body>

</html>

