<!DOCTYPE html>
<html>
<head lang="en">

    <title>James Lynn</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="description" content="Entrepreneur, technology enthusiast, and professional code monkey."/>

    <meta property="og:title" content="James Lynn" />
    <meta property="og:description" content="Entrepreneur, technology enthusiast, and professional code monkey." />
    <meta property="og:url" content="http://jameslynn.io" />
    <meta property="og:image" content="http://d2t15fycgdg403.cloudfront.net/opengraph-1200x600.png"/>

    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="//d2t15fycgdg403.cloudfront.net/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="apple-touch-icon" sizes="57x57" href="//d2t15fycgdg403.cloudfront.net/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="//d2t15fycgdg403.cloudfront.net/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="//d2t15fycgdg403.cloudfront.net/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="//d2t15fycgdg403.cloudfront.net/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="//d2t15fycgdg403.cloudfront.net/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="//d2t15fycgdg403.cloudfront.net/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="//d2t15fycgdg403.cloudfront.net/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="//d2t15fycgdg403.cloudfront.net/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="//d2t15fycgdg403.cloudfront.net/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="//d2t15fycgdg403.cloudfront.net/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="//d2t15fycgdg403.cloudfront.net/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="//d2t15fycgdg403.cloudfront.net/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="//d2t15fycgdg403.cloudfront.net/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="//d2t15fycgdg403.cloudfront.net/manifest.json">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Bangers">
    <link rel="stylesheet" href="/css/style.css"/>
</head>

<body>

<div id="background">

    <div class="cloud"
         ng-repeat="i in [1,2,3, 4,5]"
         ng-if="initialized">
    </div>

</div>

<main id="main"
      ng-controller="MainController"
      ng-include="'templates/main.html'"
      ng-if="initialized">
</main>

<ui-view id="view"
         ng-if="initialized">
</ui-view>

<a id="source"
   href="https://github.com/jamespdlynn/portfolio"
   target="_blank"
   class="btn btn-sm btn-primary"
   ng-if="initialized">
    Source Code
</a>

<div id="loader" ng-if="!initialized"></div>

<script data-main="js/main.js" src="js/lib/require.js"></script>

</body>

</html>

